<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

</head>


<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jiangmiao Pang
              </h1>
              <p>Hi! I am currently a Postdoctoral Fellow at <a href="https://mmlab.ie.cuhk.edu.hk/index.html">MMLab,
                  CUHK</a>, working with <a href="http://dahua.site/">Prof. Dahua Lin</a>. I obtained my Ph.D. degree
                from Zhejiang University in 2021. During my postgraduate study, I was fortunate to work with <a
                  href="https://shijianping.me/">Dr. Jianping Shi</a> at SenseTime Research
                (2017-2019), <a href="https://www.yf.io/">Prof. Fisher Yu</a> and <a
                  href="https://people.eecs.berkeley.edu/~trevor/">Prof. Trevor Darrell</a> at UC Berkeley (2019-2020),
                and Prof. Dahua Lin at
                MMLab (2020-2021).
              </p>
              <p>
                My research interests span computer vision, machine learning, and robotics. My long-term research goal
                is to build an intelligent system that can perceive and act like human beings.
                To this end, I am currently focusing on "perception, motion, and action in open-world robot navigation".
                I am also interested in video/3D/cross-modality representation learning and their applications.
              </p>
              <p>
                Beyond research, I commit myself to open-source and act as a core contributor of <a
                  href="https://openmmlab.com/">OpenMMLab</a>, where I
                lead/co-author/contribute to several codebases, mainly including <a
                  href="https://github.com/open-mmlab/mmdetection">MMDetection</a>, <a
                  href="https://github.com/open-mmlab/mmtracking">MMTracking</a>,
                and <a href="https://github.com/open-mmlab/mmdetection3d">MMDetection3D</a>.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:pangjiangmiao@gmail.com"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/oceanpang">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=ssSfKpAAAAAJ&hl=en">Google
                  Scholar</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/pangjiangmiao">Twitter</a> &nbsp;/&nbsp;
                <a href="https://www.zhihu.com/people/pangjiangmiao">Zhihu</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/myself.png">
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <p style="color:red">
                Note: I am looking for self-motivated research interns/researchers to work with me in Hong Kong
                or Shanghai. If you are interested, feel free to drop me an <a target="_blank"
                  href="mailto:pangjiangmiao@gmail.com"> email</a>.
              </p>
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul>
                <li>
                  [2021/12] I build my homepage!
                </li>
              </ul>
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
              <p>
                &dagger; denotes corresponding author. The students I mentor are underline marked.
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:0%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              {% if post.highlight %}
              <br>
              <font style="color:red">{{post.highlight}}</font>
              {% endif %}
              <br>
              {% if post.page %}
              <a href="{{post.page}}">project page</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arXiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.slide %}
              <a href="{{post.slide}}">slide</a> /
              {% endif %}
              {% if post.zhihu %}
              <a href="{{post.zhihu}}">Zhihu</a> /
              {% endif %}
              {% if post.bibtex %}
              <a href="{{post.bibtex}}">bibtex</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Awards</h2>
              <ul>
                <li>
                  Doctoral Consortium Award, CVPR 2021
                </li>
                <li>
                  1st runner up at Waymo 2D Object Tracking Challenge, CVPR 2020
                </li>
                <li>
                  Outstanding Reviewer, ICCV 2019
                </li>
                <li>
                  1st prize at COCO Object Detection Challenge (without external data), ICCV 2019
                </li>
                <li>
                  1st prize at COCO Object Detection Challenge, ECCV 2018
                </li>
              </ul>
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Services</h2>
              <ul>
                <li>
                  Conference Reviewer: CVPR, ICCV, ECCV, AAAI, NeurIPS, ICLR, ACCV
                </li>
                <li>
                  Journal Reviewer: TPAMI, IJCV, TIP, TGRS, Neurocomputing, Pattern Recognition Letters, Signal
                  Processing Letters
                </li>
              </ul>
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's
                  website</a>
              </p>
            </td>
          </tr>
        </table>

        <table
          style="width:50%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <script type="text/javascript" id="clustrmaps"
                src="//clustrmaps.com/map_v2.js?d=N1fjxJHHN1ZyHgyIfZ0iEBF6BNJQeQNCnHCAv1cgAGo&cl=ffffff&w=a"></script>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>