<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

</head>


<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jiangmiao Pang
              </h1>
              <p>Hi! I am a Research Scientist at <a href="https://www.shlab.org.cn/">Shanghai
                  AI Laboratory</a> and head the Embodied AI Center.
                <!-- Before that, I was with <a href="https://mmlab.ie.cuhk.edu.hk/index.html">MMLab@CUHK</a> and
                worked with <a href="http://dahua.site/">Prof. Dahua Lin</a>. -->
              </p>
              <p>
                We are dedicated to building Embodied AGI systems and empowering academia and industry through
                open-source initiatives.
                <font color="red">
                  If you happen to think the same, please do not hesitate to <a target="_blank"
                    href="mailto:pangjiangmiao@gmail.com"> contact me</a>!
                </font>
                <!-- Currently, we are focusing on multi-modal perception, interaction, and their conjunction with robot
                learning. We are building various real embodied systems so as expected to create positive impacts on
                humans. -->
                <!-- <font color="red"> -->
                We have positions for researchers, engineers, interns, and joint-training
                PhD students, with directions span humanoids, perception, interaction, manipulation, navigation,
                physical
                simulation, and 3D AIGC.
                <!-- </font> -->
              </p>

              <p>
                We open source through <a href="https://github.com/OpenRobotLab">OpenRobotLab</a>. I was also part-time
                affiliated with <a href="https://openmmlab.com/">OpenMMLab</a> as a core
                contributor, where I led/co-authored several visual perception codebases such as
                <a href="https://github.com/open-mmlab/mmdetection">MMDetection</a> <a
                  href="https://github.com/open-mmlab/mmdetection"><img alt="GitHub Stars" style="vertical-align:middle"
                    src="https://img.shields.io/github/stars/open-mmlab/mmdetection?style=social" /></a>, <a
                  href="https://github.com/open-mmlab/mmtracking">MMTracking</a> <a
                  href="https://github.com/open-mmlab/mmtracking"><img alt="GitHub Stars" style="vertical-align:middle"
                    src="https://img.shields.io/github/stars/open-mmlab/mmtracking?style=social" /></a>,
                and <a href="https://github.com/open-mmlab/mmdetection3d">MMDetection3D</a> <a
                  href="https://github.com/open-mmlab/mmdetection3d"><img alt="GitHub Stars"
                    style="vertical-align:middle"
                    src="https://img.shields.io/github/stars/open-mmlab/mmdetection3d?style=social" /></a>.
                <!-- My works
                have won 1st prizes at COCO Object Detection Challenge 2018 and 2019 (without external data), and 1st
                runner-up at Waymo 2D Object Tracking Challenge 2020. -->
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:pangjiangmiao@gmail.com"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/oceanpang">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=ssSfKpAAAAAJ&hl=en">Google
                  Scholar</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/pangjiangmiao">Twitter</a> &nbsp;/&nbsp;
                <a href="https://www.zhihu.com/people/pangjiangmiao">Zhihu</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/myself.png">
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul>
                <li>
                  <font color="red">
                    The website is updated occasionally. For the most recent updates, please refer
                    to my <a
                      href="https://scholar.google.com/citations?hl=en&user=ssSfKpAAAAAJ&view_op=list_works&sortby=pubdate">Google
                      Scholar</a>. : )
                  </font>
                </li>
                <li>
                  [2025/02] We release our recent progresses on humanoids, including <a
                    href="https://hugwbc.github.io/">HugWBC</a>,
                  <a href="https://taohuang13.github.io/humanoid-standingup.github.io/">HoST</a>,
                  <a href="https://why618188.github.io/beamdojo/">BeamDojo</a>,
                  and <a href="https://homietele.github.io">Homie</a>.
                </li>
                <li>
                  [2025/02] We find some interesting observations on Sim2Real in manipulation, check out <a
                    href="https://xshenhan.github.io/Re3Sim/">Re3Sim</a>
                  and
                  stay tuned.
                </li>
                <li>
                  [2025/02] <a href="https://nimolty.github.io/Seer/">Seer</a>, a scalable learner for robotic
                  manipulation,
                  is accepted at ICLR 2025 as a Oral Presentation.
                </li>
                <li>
                  [2024/11] We present <a href="https://junfeng-long.github.io/PIM/">Perceptive
                    Internal Model (PIM)</a> for Humanoid Locomotion.
                </li>
                <li>
                  [2024/09] PointLLM receives <font color="red">Best Paper Candidate Award</font> at ECCV 2024!
                </li>
                <li>
                  [2024/07] We present GRUtopia, a simulation platform with versatile scenes for Embodied AI.
                </li>
                <li>
                  [2024/01] We present PointLLM & EmbodiedScan for Perception, UniHSI for Interaction, and HIMLoco for
                  Control.
                </li>
                <li>
                  [2023/06] OC-SORT is accepted to CVPR 2023. It is recognized as one of the Most Influential CVPR
                  Papers.
                </li>
                <!-- <li>
                  [2022/10] DfM and DenseSiam are accepted to ECCV 2022. DfM is selected as Oral Presentation.
                </li>
                <li>
                  [2022/06] Video K-Net is accepted to CVPR 2022 as Oral Presentation.
                </li> -->
              </ul>
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Publications</h2> --> For the full publication list, please refer to my <a
                href="https://scholar.google.com/citations?hl=en&user=ssSfKpAAAAAJ&view_op=list_works&sortby=pubdate">Google
                Scholar</a>.
              <p>
                &dagger; denotes corresponding author. * denotes equal contribution. My teammates/students/mentees are
                underline marked.
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          
          {% comment %} 初始化类别列表 {% endcomment %}
          {% assign categories = "Humanoids and Motion Intelligence,Manipulation and Navigation Intelligence,Simulation/Hardware Platforms for Embodied AI,AIGC for Embodied AI,3D Vision and Embodied Perception" | split: "," %}
          
          {% comment %} 初始化每个类别对应的空数组，模拟字典的键值对 {% endcomment %}
          {% for category in categories %}
              {% assign category = category | strip %}
              {% assign category | append: "_posts" = [] %}
          {% endfor %}
          
          {% comment %} 遍历文章并分类到不同类别数组中 {% endcomment %}
          {% for post in site.posts %}
              {% for category in categories %}
                  {% assign category = category | strip %}
                  {% if post.sub_fields == category %}
                      {% assign temp_array = category | append: "_posts" %}
                      {% assign temp_array = temp_array | push: post %}
                      {% assign category | append: "_posts" = temp_array %}
                  {% endif %}
              {% endfor %}
          {% endfor %}
          
          {% comment %} 循环遍历类别列表，创建 section 并展示文章 {% endcomment %}
          {% for category in categories %}
              {% assign category = category | strip %}
              <section id="{{ category | slugify }}">
                  <h2>{{ category }}</h2>
                  {% assign post_list = category | append: "_posts" %}
                  {% for post in post_list %}
                      <tr>
                          <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                              <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
                          </td>
                          <td style="padding:0%;width:75%;vertical-align:middle">
                              <h3>{{post.title}}</h3>
                              <br>
                              {{post.authors}}
                              <br>
                              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
                              {% if post.highlight %}
                                  <br>
                                  <font style="color:red">{{post.highlight}}</font>
                              {% endif %}
                              <br>
                              {% if post.page %}
                                  <a href="{{post.page}}">project page</a> /
                              {% endif %}
                              {% if post.arxiv %}
                                  <a href="{{post.arxiv}}">arXiv</a> /
                              {% endif %}
                              {% if post.paper %}
                                  <a href="{{post.paper}}">paper</a> /
                              {% endif %}
                              {% if post.code %}
                                  <a href="{{post.code}}">code</a> /
                              {% endif %}
                              {% if post.poster %}
                                  <a href="{{post.poster}}">poster</a> /
                              {% endif %}
                              {% if post.video %}
                                  <a href="{{post.video}}">video</a> /
                              {% endif %}
                              {% if post.slide %}
                                  <a href="{{post.slide}}">slide</a> /
                              {% endif %}
                              {% if post.zhihu %}
                                  <a href="{{post.zhihu}}">Zhihu</a> /
                              {% endif %}
                              {% if post.bibtex %}
                                  <a href="{{post.bibtex}}">bibtex</a>
                              {% endif %}
                              <p></p>
                              {{ post.excerpt }}
                          </td>
                      </tr>
                  {% endfor %}
              </section>
          {% endfor %}
<!--       
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h3>Humanoids and Motion Intelligence</h3>
            </td>
          </tr>

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:0%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              {% if post.highlight %}
              <br>
              <font style="color:red">{{post.highlight}}</font>
              {% endif %}
              <br>
              {% if post.page %}
              <a href="{{post.page}}">project page</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arXiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.slide %}
              <a href="{{post.slide}}">slide</a> /
              {% endif %}
              {% if post.zhihu %}
              <a href="{{post.zhihu}}">Zhihu</a> /
              {% endif %}
              {% if post.bibtex %}
              <a href="{{post.bibtex}}">bibtex</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %} -->


        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Awards</h2>
              <ul>
                <li>
                  World's Top 2% Scientist, Stanford University
                </li>
                <li>
                  Most Influential CVPR Papers, OC-SORT in CVPR 2023
                </li>
                <li>
                  Best Paper Award of Workshop on 3D Object Detection from Images, ICCV 2021
                </li>
                <li>
                  Doctoral Consortium Award, CVPR 2021
                </li>
                <li>
                  1st runner up at Waymo 2D Object Tracking Challenge, CVPR 2020
                </li>
                <li>
                  Outstanding Reviewer, ICCV 2019
                </li>
                <li>
                  1st prize at COCO Object Detection Challenge (without external data), ICCV 2019
                </li>
                <li>
                  1st prize at COCO Object Detection Challenge, ECCV 2018
                </li>
              </ul>
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Services</h2>
              <ul>
                <li>
                  Conference Reviewer: CVPR, ICCV, ECCV, RSS, CoRL, NeurIPS, ICLR, ICML, AAAI, IROS, ACCV
                </li>
                <li>
                  Journal Reviewer: TPAMI, IJCV, TRO, TIP, RA-L, TGRS, Neurocomputing, Pattern Recognition Letters,
                  Signal
                  Processing Letters
                </li>
              </ul>
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                <a href="https://www.easycounter.com/">
                  <img src="https://www.easycounter.com/counter.php?pangjiangmiao" border="0" alt="HTML Counter"></a>
                <br>
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's
                  website</a>
              </p>
            </td>
          </tr>
        </table>

        <!-- <table
          style="width:50%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <script type="text/javascript" id="clustrmaps"
                src="//clustrmaps.com/map_v2.js?d=N1fjxJHHN1ZyHgyIfZ0iEBF6BNJQeQNCnHCAv1cgAGo&cl=ffffff&w=a"></script>
            </td>
          </tr>
        </table> -->




      </td>
    </tr>
  </table>
</body>

</html>